body {
    background: #E8E8E8;
}

#vision-board {
    margin: 50px auto;
    width: 1200px;
    height: 850px;
    overflow: auto;
    background: url('../img/background.png');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.block {
    float: left;
    box-sizing: border-box;
    width: 400px;
}

.small-block {
    padding: 20px 40px;
    height: 210px;
}

.large-block {
    padding: 70px 40px;
    height: 430px;
}

.top-padding {
    padding-top: 40px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.title {
    margin: 10px 0;
    color: #fff;
    font-size: 30px;
}

.marker {
    font-family: 'Permanent Marker', sans-serif;
}

.light-bg {
    background: #fff;
}

.dark-bg {
    background: #3B3B3B;
}

.highlight {
    background: #FFF44F;
    padding: 5px 10px;
}

strong {
    font-size: 38px;
    text-transform: none;
    line-height: 38px;
}